# Unity generated
Temp/
Library/
[Oo]bj/
[Bb]uild/

# Visual Studio / MonoDevelop
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.pidb.meta
*.booproj
*.svd

# OS generated
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db*
Thumbs.db*
